/**
* h5Box css 样式库
* ======
* @author 洪波
* @version 18.09.20
*/

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	font-size:14px;
	color: #333;
}

/*---- 页面容器 ----*/

.container {
	margin: auto;
	width:80%;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

/*---- 通用元素 ----*/

a {
	color: #ff7c76;
}

a:hover,
a:focus {
	color: #f54743;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

img {
	vertical-align: middle;
}

.img-rp {
	display: block;
	height: auto;
	max-width: 100%;
}

.img-rd {
	border-radius: 6px;
}

.img-cc {
	border-radius: 50%;
}

hr {
	border:none;
	border-bottom:1px solid #eee;
	margin: 10px 0;
}

/*---- 文字 ----*/

p {
	margin-top: 0;
	margin-bottom: 10px;
}

b,
strong {
	font-weight: bold;
}

small,
.small {
	font-size: 85%;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

/*---- 栅格系统 ----*/

.col-5 {
	width: 5%;
}

.col-10 {
	width: 10%;
}

.col-20 {
	width: 20%;
}

.col-30 {
	width: 30%;
}

.col-40 {
	width: 40%;
}

.col-50 {
	width: 50%;
}

.col-60 {
	width: 60%;
}

.col-70 {
	width: 70%;
}

.col-80 {
	width: 80%;
}

.col-90 {
	width: 90%;
}

.col-100 {
	width: 100%;
}

.col-5,
.col-10,
.col-20,
.col-30,
.col-40,
.col-50,
.col-60,
.col-70,
.col-80,
.col-90,
.col-100 {
	float:left;
	min-height: 1px;
	position: relative;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

/*---- 表格 ----*/

table {
	max-width:100%;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

.table thead {
	border-bottom:2px solid #ddd;
}

.table td{
    border: 1px solid #ddd;
    text-align: left;
    padding: 6px;
    white-space: nowrap;
}

.table th {
    border: 1px solid #ddd;
    padding: 7px;
    text-align: left;
    background-color: #f6f6f6;
    white-space: nowrap;
}

/*---- 表单 ----*/

legend {
	display: block;
	padding: 10px 0 10px;
	margin-bottom: 20px;
	color: #555;
	font-size: 20px;
	border-bottom: 1px solid #ddd;
	width: 100%;
}

label {
	display: block;
	color: #555;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 5px;
}

.form-control {
	padding: 20px;
	position:relative;
}

.form-control label {
	margin-left: -10px;
}

.form-control input[type="text"],
.form-control select,
.form-control textarea {
	width: 100%;
	margin-left: -10px !important;
}

.form-control .btn {
	display: block;
	margin-left: -10px;
}

.form-item {
	height: 24px;
	padding: 4px 8px;
	font-size: 14px;
	color: #555555;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.form-item:focus {
	border-color: #abebff;
	box-shadow: inset 0 0 4px #abebff;
}

.form-item-error {
	border-color: #ff7c76;
	box-shadow: inset 0 0 4px #ff7c76;
}

.input-sm {
	height: 18px;
	padding: 3px 6px;
	font-size: 13px;
}

select.form-item {
	height: 34px;
}

input[type="radio"].form-item,
input[type="checkbox"].form-item {
	vertical-align: middle;
	margin: 0;
}

textarea.form-item {
	height:auto;
	vertical-align: top;
	margin: 0;
}

/*---- 扩展表单 ----*/

.ext-radio {
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 17px;
}

.ext-radio-check {
	background-color: #ff7c76;
}

.ext-radio-check > .ext-radio-item {
	background: none;
	border-color: #ff7c76;
	color: #fff;
}

.ext-radio-check > .ext-radio-item.active {
	background-color: #fff;
	box-shadow: -2px 0 6px #ff7c76;
	border-color: #ff7c76;
}

.ext-radio-item {
	width: 30px;
	height: 21px;
	border: 1px solid #fff;
	background-color: #fff;
	color: #666;
	border-radius: 50%;
	float: left;
	text-align: center;
	font-size: 12px;
	padding-top: 8px;
}

.ext-radio-item::after {
	clear: both;
}

.ext-radio-item.active {
	border: 1px solid #ddd;
	color: #fff;
}

/*---- 按钮 ----*/

.btn {
	display: inline-block;
	color: #888;
	background: linear-gradient(to left top, #ddd, #eee);
	height: 33px;
	font-size: 14px;
	margin-top: -3px;
	padding: 6px 12px;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	border-radius: 2px;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
}

.btn:hover {
	color: #666;
	box-shadow: 0 0 5px #ccc;
}

.btn-red {
	color: #fff;
	background: linear-gradient(to left top, #f54743, #ff7c76);
}

.btn-red:hover {
	color: #fff;
	box-shadow: 0 0 5px #ff7c76;
}

a.btn {
	text-decoration: none;
	padding-top: 7px;
	height: 20px;
}
a.btn-sm {
	text-decoration: none;
	font-size: 12px;
	padding-top: 4px;
	height: 18px;
}

a.btn-xs {
	text-decoration: none;
	font-size: 11px;
	padding-top: 2px;
	height: 16px;
}

.btn-sm {
	margin-top: -3px;
	height: 25px;
	padding: 3px 8px;
	font-size: 12px;
}

.btn-xs {
	margin-top: -2px;
	height: 20px;
	padding: 2px 8px;
	font-size: 11px;
}

/*---- 面包屑导航 ----*/

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #f6f6f6;
	border-radius: 4px;
}

.breadcrumb > li {
	display: inline-block;
}

.breadcrumb > li + li:before {
	padding: 0 5px;
	color: #cccccc;
	content: "/\00a0";
}

.breadcrumb > li > a {
	text-decoration: none;
}

.breadcrumb > .active {
	color: #999;
}

/*---- 页脚样式 ----*/

.footer {
	background-color: #333;
	color:#ddd;
	padding: 20px 0 20px;
}

.footer a {
	color:#ccc;
	text-decoration: underline;
}

.footer a:hover {
	color: #ff7c76;
}

/*---- 分页按钮 ----*/

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination > li {
	display: inline;
}

.pagination > li > a,
.pagination > li > span {
	color: #999;
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
	background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	border-color: #ff7c76;
	background: linear-gradient(to left top, #f54743, #ff7c76);
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

/*---- 进度条 ----*/

.progress-bar {
	width: 100%;
	font-size: 12px;
	background-color: #e6e6e6;
	border-radius: 10px;
}

.progress-use {
	color: #fff;
	display: inline-block;
	border-radius: 10px;
	text-align: center;
	padding: 2px 0 2px;
	background: linear-gradient(to left top, #f54743, #ff7c76);
}

/*---- 模态框 ----*/

.modal {
	position: fixed;
	z-index: 1000;
	width: 60%;
	display: none;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-color: #fff;
	border-radius: 6px;
}

.modal-cover {
	position: fixed;
	top:0;
	left: 0;
	z-index: 999;
	background-color: #000;
	opacity: 0.75;
}

.modal-header,
.modal-footer {
	padding:10px 20px;
	font-size: 18px;
	color: #555;
}

.modal-header {
	border-bottom: 0;
	border-radius: 6px 6px 0 0;
}

.modal-footer {
	text-align: right;
	border-top: 0;
	border-radius: 0 0 6px 6px;
}

.modal-body {
	padding: 20px;
	border: 1px solid #eee;
	border-left: none;
	border-right: none;
}